footer {
    display: flex;
    gap: 1rem;
    align-content: space-between;
    padding: 0 4rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background: #030712; */
    background: black;
}

.redes{
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

