.footerContainer{
    background-color: #000924;
    padding: 1rem;
    width: 100vw;
    min-height: 1vh; 
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 100%; 
    position: fixed; 
    bottom: 0;
}

.divLeft{
    /* border: 1px solid white; */
    width: 30%;
    font-family: 'Poppins';
    font-size: 15px;
}

.divRight{
    /* border: 1px solid white; */
    width: 20%;
    gap: 1.5rem;
    display: flex;
    position: relative;
}

.info p{
    color: #fff;
    transition: .3s;
    font-size: 15px;
    font-family: "Poppins";
    &:hover{
        opacity: 0.7;
        transition: .5s;
    }
}
.logo{
    width: 2vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftf{
    width: 3vw;
    height: auto;    
    background: white;
    margin-right: 15px;
}
@media (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
      height: auto;
    }
  
    .divLeft,
    .divRight {
      width: 100%;
    }
  
    .divRight {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .info p {
      margin: 0.5rem;
      font-size: 15px;
    }
  }